<div class="security-banner" role="banner" aria-label="Site security and privacy notice">
  <div class="wrap">
    <div class="left">
      <span class="lock" aria-hidden="true"></span>
      <span>Secure connection · This site does not collect Protected Health Information (PHI)</span>
    </div>
    <div>
      <a href="/privacy/">Privacy Practices</a>
      &nbsp;·&nbsp;
      <a href="/contact/">Report a Concern</a>
    </div>
  </div>
</div>
